
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{rdfs:label}} - {{_sitename}}</title>
    <meta name="description" content="{{rdfs:comment}}" />
    <link rel="stylesheet" type="text/css" href="{{_url_root}}/docs/cnschemaorg.css" />
    <link rel="stylesheet" type="text/css" href="{{_url_root}}/docs/cnschema.css" />
    <link rel="stylesheet" type="text/css" href="{{_url_root}}/docs/prettify.css"  />
    <script type="text/javascript" src="{{_url_root}}/docs/prettify.js"></script>
    <script type="text/javascript" src="{{_url_root}}/docs/jquery-3.2.1.min.js"></script>

<script type="text/javascript">
      $(document).ready(function(){
        prettyPrint();
        setTimeout(function(){

  $(".atn:contains(itemscope), .atn:contains(itemtype), .atn:contains(itemprop), .atn:contains(itemid), .atn:contains(time), .atn:contains(datetime), .atn:contains(datetime), .tag:contains(time) ").addClass('new');
  $('.new + .pun + .atv').addClass('curl');

        }, 500);
        setTimeout(function(){

  $(".atn:contains(property), .atn:contains(typeof) ").addClass('new');
  $('.new + .pun + .atv').addClass('curl');

        }, 500);
        setTimeout(function() {
          $('.ds-selector-tabs .selectors a').click(function() {
            var $this = $(this);
            var $p = $this.parents('.ds-selector-tabs');
            $('.selected', $p).removeClass('selected');
            $this.addClass('selected');
            $('pre.' + $this.data('selects'), $p).addClass('selected');
          });
        }, 0);
      });
</script>

<style>

  .pln    { color: #444;    } /* plain text                 */
  .tag    { color: #515484; } /* div, span, a, etc          */
  .atn,
  .atv    { color: #314B17; } /* href, datetime             */
  .new    { color: #660003; } /* itemscope, itemtype, etc,. */
  .curl   { color: #080;    } /* new url                    */

  table.definition-table {
    border-spacing: 3px;
    border-collapse: separate;
  }

  #morecheck {
	  outline: none;
  }
#morecheck:checked + div { display: none; }


</style>

</head>
<body class="mainsite testsite">

<!-- Header start  -->

<div id="container">
  <div id="pageHeader">
    <div class="wrapper">
      <ul>
        <li><a href="./">cnschema.org</a></li>
        <li><a href="https://github.com/cnschema/cnschema">项目</a></li>
        <li><a href="https://github.com/cnschema/cnschema/wiki">文档</a></li>
        <li><a href="docs/vocab.htm">词汇表</a></li>
        <li><a href="docs/about.htm">关于</a></li>
      </ul>
      <input type="text">
      <img src="docs/search.png" class="searchIcon"/>
    </div>
  </div>
</div>

<!-- Header -->

  <div id="mainContent" vocab="http://schema.org/" typeof="{{@type}}" resource="{{@id}}">

  <!--@id, rdfs:label  -->

<h1 property="rdfs:label" class="page-title">{{rdfs:label}}</h1>

<div id="intro">
  <!-- links -->
  <span class="canonicalUrl">Canonical URL: <a href="{{@id}}">{{@id}}</a></span>

  <!-- breadcrumbs， inheritance  -->
 <h4>
 {{#_paths}}

  <span class='breadcrumbs'>
    {{#_path}}
    <a   href="{{_url_schema}}/{{rdfs:label}}">{{rdfs:label}}</a>  {{^_lastone}}&gt; {{/_lastone}}
    {{/_path}}
    {{#_is_instance}}
     :: <a   href="{{_url_schema}}/{{rdfs:label}}">{{rdfs:label}}</a>
    {{/_is_instance}}
    {{^_last}}
     <br/>
    {{/_last}}
  </span>
 {{/_paths}}
 </h4>

 <!-- breadcrumbs， class inheritance  -->


 <div>
    <div>
    【<span property="nameZh">{{{nameZh}}}</span>】
      <span property="descriptionZh">{{{descriptionZh}}}</span>
    </div>
    <div property="rdfs:comment">{{{rdfs:comment}}}</div>
</div>




  <div class="otherBox">

    <div > Linked to Schema.org: <a href="https://schema.org/{{rdfs:label}}">https://schema.org/{{rdfs:label}}</a>
      <!-- usage statistics -->
     {{#_usage}}
       Usage: {{.}}
     {{/_usage}}
    </div>

    {{#wikidataUrl}}
     <div > Linked to Wikidata: <a href="{{.}}">{{.}} ({{wikidataName}})</a></div>
    {{/wikidataUrl}}

    {{#wikipediaUrl}}
     <div > Linked to Wikipedia: <a href="{{.}}">{{.}}</a></div>
    {{/wikipediaUrl}}

  </div>
</div>









<!-- more, comment -->
<!-- TODO
<div>
        <div id='infobox' style='text-align: right;'><label role="checkbox" for=morecheck><b><span style="cursor: pointer;">[more...]</span></b></label></div>
        <input type='checkbox' checked="checked" style='display: none' id=morecheck><div id='infomsg' style='background-color: #EEEEEE; text-align: left; padding: 0.5em;'>
        <ul><li><a href='https://docs.google.com/a/google.com/forms/d/1krxHlWJAO3JgvHRZV9Rugkr9VYnMdrI10xbGsWt733c/viewform?entry.1174568178&entry.41124795={{rdfs:label}}&entry.882602760=type'>Leave public feedback on this term &#128172;</a></li><li><a href='https://github.com/schemaorg/schemaorg/issues?q=is%3Aissue+is%3Aopen+{{rdfs:label}}'>Check for open issues.</a></li><li>'{{rdfs:label}}' is mentioned in layer: <a href='{{@id}}'>{{_layer}}</a></li></ul>
</div>
</div>
-->

<div id="content">
  <div id="leftNav">
    <ul>
      <li><span class="active"><a href="#properties">属性</a></span></li>
      <li><span><a href="#details">详情</a></span></li>
      <li><span><a href="#extensions">扩展</a></span></li>
      <li><span><a href="#examples">案例</a></span></li>
    </ul>
  </div>
  <div id="rightBox">
    <ul>
      <li class="prop" id="propItem">


<a name="properties"/>

<!--- class/type domain of property --->
{{#_pTree}}
{{#_last}}
<table class="definition-table">
        <thead>
  <tr>
    <th class="propInfo"><span>属性</span></th>
    <th class="category"><span>值域<span></th>
    <th class="description">定义</th>
  </tr>
  </thead>

{{/_last}}
{{/_pTree}}


{{#_pTree}}
<tr class="supertype">
     <th class="supertype-name" colspan="3">Properties from <a   href="{{_url_schema}}/{{rdfs:label}}">{{rdfs:label}}</a></th>

{{#_properties}}
</tr>

<tbody class="supertype">
  <tr typeof="rdfs:Property" resource="{{@id}}">

      <th class="propInfo" scope="row">

<code property="rdfs:label"><a   href="{{_url_schema}}/{{rdfs:label}}">{{rdfs:label}}</a></code>
    </th>
 <td class="category">
   {{#rangeIncludes}}
   <link  property="rangeIncludes" href="{{@id}}" /><a   href="{{_url_schema}}/{{rdfs:label}}">{{rdfs:label}}</a>&nbsp; {{^_last}} or {{/_last}}
   {{/rangeIncludes}}

   {{#domainIncludes}}
   <link  property="domainIncludes" href="{{@id}}" />
   {{/domainIncludes}}
</td>

<td class="description">【<span property="nameZh">{{{nameZh}}}</span>】 <span property="descriptionZh">{{{descriptionZh}}}</span> <span property="rdfs:comment">{{{rdfs:comment}}}</span>
{{#_supersede}}Supersedes <a href="{{_url_schema}}/{{rdfs:label}}">{{rdfs:label}}</a>.{{/_supersede}}
{{#inverseOf}}Inverse property: <a href="{{_url_schema}}/{{rdfs:label}}">{{rdfs:label}}</a>.{{/inverseOf}}
</td>

</tr>
{{/_properties}}
{{/_pTree}}

{{#_pTree}}
{{#_last}}
</tbody>
</table>
{{/_last}}
{{/_pTree}}



<!--- class/type range of property --->

{{#_pRange}}
{{#_last}}
<br/><br/>
<div id="incoming">Instances of <a   href="{{_url_schema}}/{{_node_label}}">{{rdfs:label}}</a> may appear as values for the following properties</div><br/>

<table class="definition-table">
  <thead>
    <tr><th>Property</th><th>On Types</th><th>Description</th>
    </tr>
  </thead>
{{/_last}}
{{/_pRange}}

{{#_pRange}}
<tr>
<th class="prop-nam" scope="row">
 <code><a   href="{{_url_schema}}/{{rdfs:label}}">{{rdfs:label}}</a></code>
</th>

<td class="prop-ect">
  {{#domainIncludes}}
<a   href="{{_url_schema}}/{{rdfs:label}}">{{rdfs:label}}</a>&nbsp;
  {{/domainIncludes}}
</td><td> <span class="descriptionZh">{{{descriptionZh}}}</span> <span class="prop-desc">{{{rdfs:comment}}}</span></td>
</tr>
{{/_pRange}}


{{#_pRange}}
{{#_last}}
</table>
{{/_last}}
{{/_pRange}}




<!-- property  range -->
{{#rangeIncludes}}
{{#_last}}
<table class="definition-table">
<thead>
<tr>
  <th>Values expected to be one of these types</th>
</tr>
</thead>
<tr>
  <td>
{{/_last}}
{{/rangeIncludes}}


{{#rangeIncludes}}
<code><link  property="rangeIncludes" href="{{@id}}" /><a   href="{{_url_schema}}/{{rdfs:label}}" title="The '{{_node_label}}' property has values that include instances of the '{{rdfs:label}}' type.">{{rdfs:label}}</a>
</code>
{{^_last}}
<br/>
{{/_last}}
{{/rangeIncludes}}

{{#rangeIncludes}}
{{#_last}}
</td>
</tr>
</table>
{{/_last}}
{{/rangeIncludes}}


<!-- property  domain -->

{{#domainIncludes}}
{{#_last}}
<table class="definition-table">
<thead>
<tr>
  <th>Used on these types</th>
</tr>
</thead>
<tr>
  <td>
{{/_last}}
{{/domainIncludes}}

{{#domainIncludes}}
<code><link  property="domainIncludes" href="{{@id}}" /><a   href="{{_url_schema}}/{{rdfs:label}}" title="The '{{_node_label}}' property is used on the '{{rdfs:label}}' type.">{{rdfs:label}}</a>
</code>
{{^_last}}
<br/>
{{/_last}}
{{/domainIncludes}}

{{#domainIncludes}}
{{#_last}}
</td>
</tr>
</table>
{{/_last}}
{{/domainIncludes}}



<!-- property supersededBy -->
{{#supersededBy}}
<table class="definition-table">
<thead>
<tr>
  <th>supersededBy</th>
</tr>
</thead>
<tr>
  <td>
<code><a   href="{{_url_schema}}/{{rdfs:label}}" title="{{{rdfs:commment}}}">{{rdfs:label}}</a></code>
</td>
</tr>
</table>
{{/supersededBy}}


<!-- property supersede -->

{{#_supersede}}
<table class="definition-table">
<thead>
<tr>
  <th>Supersedes</th>
</tr>
</thead>
<tr>
  <td>
<code><a   href="{{_url_schema}}/{{rdfs:label}}" title="{{{rdfs:commment}}}">{{rdfs:label}}</a></code>
</td>
</tr>
</table>
{{/_supersede}}




<!--
TODO
<h4>Available properties in extensions</h4><ul><li>For <a   href="{{_url_schema}}/CreativeWork">CreativeWork</a> in the <a href="http://bib.schema.org">bib</a> extension:  <a title="Defined in extension: bib.schema.org"  class="ext ext-bib"  href="http://bib.schema.org/publisherImprint">publisherImprint</a>, <a title="Defined in extension: bib.schema.org"  class="ext ext-bib"  href="http://bib.schema.org/translationOfWork">translationOfWork</a>, <a title="Defined in extension: bib.schema.org"  class="ext ext-bib"  href="http://bib.schema.org/workTranslation">workTranslation</a></li>
<li>For <a   href="{{_url_schema}}/CreativeWork">CreativeWork</a> in the <a href="http://pending.schema.org">pending</a> extension:  <a title="Defined in extension: pending.schema.org"  class="ext ext-pending"  href="http://pending.schema.org/contentReferenceTime">contentReferenceTime</a></li>
<li>For <a   href="{{_url_schema}}/Thing">Thing</a> in the <a href="http://schema.org"></a> extension:  <a   href="{{_url_schema}}/disambiguatingDescription">disambiguatingDescription</a></li>
</ul><br/>
-->



<!-- class/type property -->
{{#_group_property}}

{{#_sub}}
{{#_last}}
<h4>Sub-properties</h4>
{{/_last}}
{{/_sub}}
<ul>
{{#_sub}}
    <li> <a   href="{{_url_schema}}/{{rdfs:label}}">{{rdfs:label}}</a> </li>
{{/_sub}}
</ul>

{{/_group_property}}

<!-- class/type property -->
{{#_group_property}}

{{#_super}}
{{#_last}}
<h4>Super-properties</h4>
{{/_last}}
{{/_super}}
<ul>
{{#_super}}
    <li> <a   href="{{_url_schema}}/{{rdfs:label}}">{{rdfs:label}}</a> </li>
{{/_super}}
</ul>

{{/_group_property}}



<!-- class/type subclasses -->
{{^supersededBy}}
{{#_group_type}}

{{#_sub}}
{{#_last}}
<h4>More specific Types</h4>
{{/_last}}
{{/_sub}}
<ul>
{{#_sub}}
    <li> <a   href="{{_url_schema}}/{{rdfs:label}}">{{rdfs:label}}</a> </li>
{{/_sub}}
</ul>

{{/_group_type}}
{{/supersededBy}}

<!-- class/type instances -->

{{#_instances}}
{{#_last}}
<br/><br/><b>Enumeration members</b>
{{/_last}}
{{/_instances}}

<ul>
{{#_instances}}
<li> <a   href="{{_url_schema}}/{{rdfs:label}}">{{rdfs:label}}</a> </li>
{{/_instances}}
</ul>



<!-- source  -->

{{#_source}}
{{#_last}}
<h4  id="acks">Source</h4>
{{/_last}}
{{/_source}}
{{#_source}}
<p>{{{rdfs:comment}}}</p>
{{/_source}}

<!-- source Acknowledgement -->

{{#_sourceAck}}
{{#_last}}
<h4  id="acks">Acknowledgement</h4>
{{/_last}}
{{/_sourceAck}}
{{#_sourceAck}}
<p>{{{rdfs:comment}}}</p>
{{/_sourceAck}}


<a name="examples"/>

<!-- examples -->

{{#_examples}}
{{#_last}}
<br/><br/>
<b><a id="examples">Examples</a></b><br/><br/>
{{/_last}}
{{/_examples}}

{{#_examples}}
<div title="{{rdfs:label}}-gen-102"><a id="{{rdfs:label}}-gen-102">Example {{_index}}</a></div>
<div class='ds-selector-tabs ds-selector'>
  <div class='selectors'>
    <a data-selects='original_html' class='selected'>Without Markup</a>
    <a data-selects='microdata' class=''>Microdata</a>
    <a data-selects='rdfa' class=''>RDFa</a>
    <a data-selects='jsonld' class=''>JSON-LD</a>
</div>

<pre class="prettyprint lang-html linenums original_html selected">{{PRE-MARKUP}}</pre>
  <pre class="prettyprint lang-html linenums microdata ">{{MICRODATA}}</pre>
    <pre class="prettyprint lang-html linenums rdfa ">{{RDFA}}</pre>
  <pre class="prettyprint lang-html linenums jsonld ">{{JSON}}</pre>

</pre>
</div>

{{/_examples}}




<!-- version -->

<p class="version"><b>Schema Version {{_version}}</b> . The original definition of this concept is from http://schema.org. </p>


<!-- end-->

</div>

<!-- footer -->
<div>
  沪ICP备12013633号-13
</div>
<!-- footer end -->

</body>
</html>
