
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Vocabulary - cnschema.org</title>
    <meta name="description" content="cnschema clases and properties listing page" />

    <link rel="stylesheet" type="text/css" href="./cnschemaorg.css" />
    <link rel="stylesheet" type="text/css" href="./prettify.css"  />
    <script type="text/javascript" src="./prettify.js"></script>
    <script type="text/javascript" src="./jquery-3.2.1.min.js"></script>


</head>
<body class="mainsite testsite">

<!-- Header start  -->

<div id="container">
  <div id="pageHeader">
    <div class="wrapper">
      <ul>
        <li><a href="../">cnschema.org</a></li>
        <li><a href="https://github.com/cnschema/cnschema">项目</a></li>
        <li><a href="https://github.com/cnschema/cnschema/wiki">文档</a></li>
        <li><a href="vocab.htm">词汇表</a></li>
        <li><a href="about.htm">关于</a></li>
      </ul>
      <input type="text">
      <img src="search.png" class="searchIcon"/>
    </div>
  </div>
</div>

<!-- Header -->

<div id="mainContent" vocab="http://schema.org/" typeof="{{@type}}" resource="{{@id}}">

<div>
<a href="#vocab-classes">Classes（分类列表）</a>
<a href="#vocab-properties">Properties（属性列表）</a>
</div>

<!-- classes -->
<h2 id="vocab-classes">Classes（分类列表）</h2>
{{{classes}}}

<!-- types
<h2 id="vocab-types">Types</h2>
{{{types}}}

-->

<!-- properties -->
<h2 id="vocab-properties">Properties（属性列表）</h2>
<table class="definition-table">
        <thead>
  <tr>
    <th class="propInfo"><span>属性</span></th>
    <th class="description">定义</th>
  </tr>
  </thead>

{{#properties}}
<tr>

    <th class="propInfo" scope="row">

<code property="rdfs:label"><a   href="{{_url_schema}}/{{rdfs:label}}">{{rdfs:label}}</a></code>
  </th>

<td class="description">【<span property="nameZh">{{{nameZh}}}</span>】 <span property="descriptionZh">{{{descriptionZh}}}</span> <span property="rdfs:comment">{{{rdfs:comment}}}</span>
{{#_supersede}}Supersedes <a href="{{_url_schema}}/{{rdfs:label}}">{{rdfs:label}}</a>.{{/_supersede}}
{{#inverseOf}}Inverse property: <a href="{{_url_schema}}/{{rdfs:label}}">{{rdfs:label}}</a>.{{/inverseOf}}
</td>

</tr>
{{/properties}}
</table>

<!-- version -->
<p class="version"><b>Schema Version {{_version}}</b> . The original definition of this concept is from http://schema.org. </p>
<!-- end-->

</div>

<!-- footer -->
<div>
  沪ICP备12013633号-13
</div>
<!-- footer end -->

</body>
</html>
